.DS_Store
bin/
.gradle/
build/
config/
!cmd/provenanced/config/
!cmd/provenanced/config/legacy/tendermint_0_35/config
!cmd/provenanced/config/legacy/tendermint_0_34/config
data/
.idea/
*.swp
utils/
.blockade
blockade.yaml
*.sock
.provenance
.provenanced
keyring-*
vendor/
*.account

# VS Code
.history/
.vscode/

# Eclipse
.project
.classpath

# Intellij
out/
.settings/
profile.iml
profile.ipr
profile.iws
/.datastore
*.iml
*.ipr
*.iws

# Tools make target marker
tools-stamp
tmp-swagger-gen
proto-tools-stamp

#emacs tmp files
.#*

#direnv setup
.envrc
